<ion-content>
  <div class="background"></div>
  <div class="login-container">
    <div class="logo-container">
      <img class="logo" src="assets/img/logo/login-logo.png" />
    </div>
    <form (submit)="doLogin()" [formGroup]="loginForm">
      <ion-item>
        <ion-label><img src="assets/icon/account.png" width="20px"></ion-label>
        <ion-input type="text" formControlName="username" placeholder="请输入OA账号" [ngModel]="loginUserName"></ion-input>
      </ion-item>

      <ion-item>
          <ion-label><img src="assets/icon/password.png" width="20px"></ion-label>
        <ion-input type="password" formControlName="password" placeholder="请输入密码..." [ngModel]="loginPassword"></ion-input>
      </ion-item>

      <div  *ngIf="formErrors?.error" class="error-msg">
          {{formErrors?.error}}
      </div>

      <button ion-button block class="login-button">登录</button>
      <!-- <ion-card *ngIf="formErrors?.error" color="danger" class="animation-alert">
        <ion-card-content>
          
        </ion-card-content>
      </ion-card> -->
    </form>

      <button ion-button block  icon-left (click)="openSecurity()" class="anyoffice-button">
        <ion-icon><img src="assets/icon/setting.png" width="20px"></ion-icon>
        打开 Anyoffice 安全应用
      </button>
  </div>
</ion-content>
