<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>List</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div animates #animation="animates" text-center>
    <button ion-button (click)="animation.start({type: 'rubberBand', duration: '1000'})">Click me!</button>
  </div>
  <div animates #animation1="animates" text-center>
    <button ion-button (click)="animation1.start({type: 'rubberBand', duration: '1000'})">Click me!</button>
  </div>
  <div animates #animation2="animates" text-center>
    <button ion-button (click)="animation2.start({type: 'rubberBand', duration: '1000'})">Click me!</button>
  </div>
   <!-- <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="item.icon" item-left></ion-icon>
      {{item.title}}
      <div class="item-note" item-right>
        {{item.note}}
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>  -->

</ion-content>
