<?xml version='1.0' encoding='utf-8'?>
<plugin id="cn.nimble.anyofficetool" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>AnyofficeTool</name><js-module name="AnyofficeTool" src="www/AnyofficeTool.js"><clobbers target="cordova.plugins.AnyofficeTool" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="AnyofficeTool"><param name="android-package" value="cn.nimble.anyofficetool.AnyofficeTool" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml" /><source-file src="src/android/AnyofficeTool.java" target-dir="src/cn/nimble/anyofficetool/AnyofficeTool" /></platform><platform name="ios"><config-file parent="/*" target="config.xml"><feature name="AnyofficeTool"><param name="ios-package" value="AnyofficeTool" /></feature></config-file><source-file src="src/ios/AnyofficeTool.m" /></platform></plugin>