.tabbar, .tabs-ios, .tabs-md , .tabs-wp{
    .tab-button-icon {
        color: rgba(0,0,0,0);        
        background-repeat:no-repeat;
        background-position:center;
        height:24px;
        width:24px;
        background-size:contain;
        -webkit-background-size: contain;
        -moz-background-size: contain;
        -o-background-size: contain;
        &:before {
            display:none;
        }
    }
}

tabs-ios-white .tab-button[aria-selected=true], .tabs-ios-white .tab-button[aria-selected=true] .tab-button-icon {
    color: rgba(0,0,0,0) !important;
}
.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: rgba(0,0,0,0) !important;
}

.tabs-ios {
  a[aria-selected=false]{
    .tab-button-icon{
        color: rgba(0,0,0,0) !important;
    }
    .tab-button-icon[ng-reflect-name=portal-nimble], .tab-button-icon[aria-label="portal-nimble"] {
        background-image: url(../assets/icon/nimble-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=portal-app], .tab-button-icon[aria-label=portal-app] {
        background-image: url(../assets/icon/app-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=portal-kk], .tab-button-icon[aria-label=portal-kk] {
        background-image: url(../assets/icon/kk-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=portal-my], .tab-button-icon[aria-label=portal-my] {
        background-image: url(../assets/icon/my-inactive.png);
    }
  }
 a[aria-selected=true] {
    .tab-button-icon{
        color: rgba(0,0,0,0) !important;
    }
    .tab-button-icon[ng-reflect-name=portal-nimble], .tab-button-icon[aria-label="portal-nimble"] {
        background-image: url(../assets/icon/nimble-active.png);
    }
    .tab-button-icon[ng-reflect-name=portal-app], .tab-button-icon[aria-label=portal-app] {
        background-image: url(../assets/icon/app-active.png);
    }
    .tab-button-icon[ng-reflect-name=portal-kk], .tab-button-icon[aria-label=portal-kk] {
        background-image: url(../assets/icon/kk-active.png);
    }
    .tab-button-icon[ng-reflect-name=portal-my], .tab-button-icon[aria-label=portal-my] {
        background-image: url(../assets/icon/my-active.png);
    }
  }
}

.tabs-md {
  a[aria-selected=false]{
    .tab-button-icon{
        color: rgba(0,0,0,0) !important;
    }
    .tab-button-icon[ng-reflect-name=portal-nimble], .tab-button-icon[aria-label="portal-nimble"] {
        background-image: url(../assets/icon/nimble-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=portal-app], .tab-button-icon[aria-label=portal-app] {
        background-image: url(../assets/icon/app-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=portal-kk], .tab-button-icon[aria-label=portal-kk] {
        background-image: url(../assets/icon/kk-inactive.png);
    }
    .tab-button-icon[ng-reflect-name=portal-my], .tab-button-icon[aria-label=portal-my] {
        background-image: url(../assets/icon/my-inactive.png);
    }
  }

 a[aria-selected=true] {
    .tab-button-icon{
        color: rgba(0,0,0,0) !important;
    }
    .tab-button-icon[ng-reflect-name=portal-nimble], .tab-button-icon[aria-label="portal-nimble"] {
        background-image: url(../assets/icon/nimble-active.png);
    }
    .tab-button-icon[ng-reflect-name=portal-app], .tab-button-icon[aria-label=portal-app] {
        background-image: url(../assets/icon/app-active.png);
    }
    .tab-button-icon[ng-reflect-name=portal-kk], .tab-button-icon[aria-label=portal-kk] {
        background-image: url(../assets/icon/kk-active.png);
    }
    .tab-button-icon[ng-reflect-name=portal-my], .tab-button-icon[aria-label=portal-my] {
        background-image: url(../assets/icon/my-active.png);
    }
  }
}

.app-shadow1 {
    opacity: 0; 
    transition: all 1s ease;
  }
  
  .app-shadow2 {
     opacity: 0; 
    transition: all 1s ease;
  }
  
  .app-shadow3 {
     opacity: 0; 
    transition: all 1s ease;
  }