// .ion-ios-home::before {content:url("../assets/icon/color.svg");}
// .ion-ios-kk::before {content:url("../assets/icon/kk.png");}

ion-icon {
    &[class*="portal-"] {
        // Instead of using the font-based icons
        // We're applying SVG masks
        mask-size: contain;
        mask-position: 50% 50%;
        mask-repeat: no-repeat;
        background: currentColor;
        width: 1em;
        height: 1em;
    }
    // custom icons
    &[class*="portal-nimble"] {
        mask-image: url(../assets/icon/color.svg);
    }

}