<!--
  Generated template for the ApproveModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>填写批语</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <textarea placeholder="请输入批语..." [(ngModel)]="memo">{{memo}}</textarea>
</ion-content>

<ion-footer>
    <button ion-button full color="light" (click)="dismiss()">关闭
      </button>
  <button  ion-button full color="secondary" (click)="submitApprove(1)" *ngIf="approveState ==1">提交
      </button>
  <button  ion-button full color="danger" (click)="submitApprove(3)" *ngIf="approveState ==3">提交驳回
      </button>
  </ion-footer>
