.item-md,
.item-ios{
    padding-left:0px;
}

.item-title{
    white-space: normal;
}

ion-segment{
    color:rgb(138,143,153);
}
.divider{
    display: inline-block;
    width: 0;
    height: 30px;
    border-right: 1px solid #ccc;
//     border-right: solid 1px rgb(230,230,230);
 }